/* This is where styles are defined for your page. */
/* One style is provided as example. */

body
{
background-image: url('images/hiking-the-sand-dunes.jpg')
}
header.page-header 
{
 /* background:lightgreen;*/
}
.page-header
{
  text-align:center;
  font-size:18px;
  color:#a3312f;
}
aside.more-info 
{
 background:lightblue;
 text-align:center; 
 font-family:sans-serif;  
}
aside.more-info img
{
  display:block;
  margin:auto;
  width: 200px;
  height: auto;
}
.info-links
{
  list-style-type:none;
  text-align:left;
}
section#content
{
  background:lightpink;
}
.poem
{
  list-style-type:none;
  text-align:center;
    
}
.poem
{
  font-style: italic;
}
footer.page-footer
{
  font-family:sans-serif;
  font-size:14px;
  background:lightcyan;
}